.hero_section {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.search-container {
  display: flex;
  position: absolute;
  top:-60px;
  z-index: 20;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.search-input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 1rem;
  width: 600px;
  height: 90px;
  color: #818181;
}
.search-img {
  width: 20px;
  position: absolute;
  right: 10px;
}

.search-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-container-hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bg-img {
  width: 100%;
}
.hero-title {
  font-size: 120px;
  font-weight: 900;
  color: #112b3c;
  text-align: center;
}
.hero-description {
  font-size: 22px;
  color: #828282;
  text-align: center;
  margin-top: 110px;
}
.aroww{
  position: absolute;
  right: 227px;
  top: 300px;
}
