.contact-us-container {
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-left: 5rem;
  padding-top: 25px;
}
.contact-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 50%;
}
.contact-img div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.containerr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}
.contact-text {
  width: 50%;
}
.namefield {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.namefield input {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
  justify-content: center;
  margin-top: 1.5rem;
}

.contact-title {
  font-size: 64px;
  color: #112b3c;
  margin-bottom: 1rem;
}
.contact-desc {
  font-size: 18px;
  color: #828282;
}

.img1 {
  position: relative;
  top: 75px;
}
.img2 {
  position: relative;
  top: 10px;
}
.img3 {
  position: relative;
  top: -5px;
}
.img4 {
  position: relative;
  top: -75px;
}
input {
  padding: 18px;
}
.sendbtn{
  background-color: #F66B0E;
  color: white;
  border: none;
  border-radius: 1px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
